* {
  margin: 0 auto;
}

.body {
  background-image: url(../imagens/devFt.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

section {
  width: 69%;
  background: #cccccc;
  opacity: 0.92;
  border: 5px solid black;
  border-radius: 6px;
}

#imgSection {
  margin-left: 36%;
  width: 260px;
  height: 290px;
}

section h1 {
  text-align: center;
  color: #990000;
}

section p {
  text-align: center;
  font: 20px solid black;
  text-indent: 40px;
}

@font-face {
  font-family: "icomoon";
  src: url("../icomoon/fonts/icomoon.eot?-9f1csz");
  src: url("../icomoon/fonts/icomoon.eot?#iefix-9f1csz")
      format("embedded-opentype"),
    url("../icomoon/fonts/icomoon.woff?-9f1csz") format("woff"),
    url("../icomoon/fonts/icomoon.ttf?-9f1csz") format("truetype"),
    url("../icomoon/fonts/icomoon.svg?-9f1csz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-facebook2:before {
  font-family: "icomoon";
  content: "\e16a";
  font-size: 2em;
  color: blue;
}

.icon-facebook2:hover:before {
  color: #000;
}
.icon-facebook2 {
  text-decoration: none;
}

#player {
  margin-top: 5%;
  margin-left: 35%;
}

#rodape_site {
  width: 90%;
  height: 80px;
  background: #696969;
  clear: both;
  border-radius: 2px;
}

#rodape_site {
  text-align: center;
}
